body.gyazo-select-element-mode *:not(.gyazo-crop-select-element):not(.gyazo-menu-element) {
  cursor: default !important;
}
.gyazo-menu {
  box-sizing: border-box;
  position: fixed;
  right: 0;
  top: 0;
  padding: 0;
  width: 378px;
  z-index: 2147483647;
  background-color: #e8e8e8;
  color: #4d4d4d;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0;
  font-family: Helvetica, Arial, sans-serif;
  letter-spacing: 0;
  animation-duration: 0.3s;
  animation-name: slidein;
  animation-timing-function: ease-out;
}

@keyframes slidein {
  from {
    top: -60px;
  }

  to {
    top: 0;
  }
}

.gyazo-menu.gyazo-notification {
  padding: 30px 38px;
  text-align: center;
}
.gyazo-notification .gyazo-notification-title {
  font-size: 22px;
}
.gyazo-notification .gyazo-notification-message {
  font-size: 13px;
  padding: 5px 0 15px;
  border-bottom: 1px solid #ccc;
}
.gyazo-notification .image {
  margin: 23px 0;
  max-width: 200px;
  margin-bottom: 20px;
}
.gyazo-notification .gyazo-notification-image-info {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  font-weight: bold;
}
.gyazo-notification .gyazo-notification-image-host {
  margin-top: 4px;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  color: #8e8e8e;
}
.gyazo-menu > .gyazo-close-button {
  width: 20px;
  float: right;
}
.gyazo-menu > .gyazo-button {
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 70px;
  height: 53px;
  float: left;
  font-size: 12px;
  cursor: pointer;
}
.gyazo-menu > .gyazo-button.gyazo-menu-myimage {
  border-left: 1px solid #cccccc;
}
.gyazo-menu > .gyazo-button.gyazo-button-active {
  color: #2378FF;
}
.gyazo-menu > .gyazo-button.gyazo-button-active:hover {
  color: #2378FF;
}
.gyazo-menu > .gyazo-button.gyazo-button-active > .gyazo-button-icon > svg{
  fill: #2378FF;
}
.gyazo-menu > .gyazo-button.gyazo-button-active:hover > .gyazo-button-icon > svg{
  fill: #2378FF;
}
.gyazo-menu > .gyazo-button:hover {
  background-color: #dedede;
}
.gyazo-menu > .gyazo-button > .gyazo-button-icon {
  width: 20px;
  height: 20px;
  display: block;
  box-sizing: border-box;
  margin: 8px auto 3px;
  pointer-events: none;
}

.gyazo-menu > .gyazo-button > .gyazo-button-icon > svg {
  fill: #4D4D4D;
  width: 20px;
  height: 20px;
}

.gyazo-menu > .gyazo-button.gyazo-menu-myimage > .gyazo-button-icon > svg {
  margin: 2px;
  width: 16px;
  height: 16px;
}

.gyazo-menu > .gyazo-button > .gyazo-button-text {
  box-sizing: border-box;
  font-size: 10px;
  line-height: 18px;
  pointer-events: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.gyazo-menu > .gyazo-close-button {
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  padding: 0;
  width: 25px;
  height: 53px;
  float: left;
  cursor: pointer;
  padding-top: 6px;
}
.gyazo-menu > .gyazo-close-button:hover > .gyazo-icon-cross > svg {
  fill: #000;
}
.gyazo-menu > .gyazo-close-button > .gyazo-icon-cross > svg {
  fill: #aaa;
  width: 15px;
  height: 15px;
}
.gyazo-menu > .gyazo-close-button > .gyazo-icon-cross {
  display: inline-block;
}
.gyazo-menu .gyazo-spin {
  width: 24px;
  height: 24px;
  display: inline-block;
  animation: gyazo-spin 2s infinite linear;
  margin: 14.5px 0;
}

.gyazo-menu .gyazo-spin > svg {
  fill: #595959;
  width: 24px;
  height: 24px;
}
@keyframes gyazo-spin {
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(359deg);
  }
}
